.myPanel {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.myinput {
    display: inline;
    width: 20%;
    margin-right: 20px;
    float: left;
}

.mysubmit {
    float: left;
}

.myadd {
    float: right;
}

.table {
    width: 80%;
    margin: auto;
}

.myMargin {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
}

.test {
    height: 30px;
    width: 30px;
    background-color: red;
}